@import "tailwindcss";

.container {
  padding-left: 40px;
  padding-right: 40px;
}

.carousel-wrapper {
  position: relative;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 auto;
  margin-right: 24px;
  margin-left: 24px;
  min-width: 0;
  padding: 10px 0;
}
.embla__prev {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}
.embla__next {
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}
.embla__next,
.embla__prev {
  cursor: pointer;
}

.embla__next:disabled,
.embla__prev:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
